:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-pupple: #8926e0;
  --color-light-purple: #cc80ff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 20px;

  /* Animation */
  --animation-duration: 350ms;
}

* {
  box-sizing: border-box;
  border-radius: var(--size-border-radius);
}

.box {
  margin: 5px;
  background-color: rgba(255, 232, 236, 0.664);
  block-size: auto;
  height: 400px;
  width: 280px;
  border: 5px solid var(--color-light-grey);
}

#result {
  width: 180px;
  height: 70px;
  margin: 5px;
  text-align: right;
  background-color: rgb(255, 241, 243);
  font-size: var(--font-medium);
  margin-top: 10px;
}

#operator {
  width: 60px;
  height: 70px;
  margin: 5px;
  text-align: center;
  background-color: rgb(255, 241, 243);
  font-size: var(--font-medium);
  margin-top: 10px;
  margin-left: 7px;
}

button {
  width: 60px;
  height: 50px;
  margin: 5px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row > button {
  background-color: lightpink;
}
.row > button.number {
  background-color: var(--color-light-purple);
}

.row > button.number1 {
  background-color: var(--color-light-purple);
  width: 114px;
}
